* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: x-large;
  width: 32em;
  height: 4em;
  user-select: none;
  position: relative;
  padding: 0 1.9em;
  /* From https://css.glass */
  /* background: rgba(245, 245, 245, 0.4); */
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 1em 1em 2.5em 2.5em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  max-width: 1250px;
  max-height: 860px;
  -webkit-tap-highlight-color: transparent;
  margin-left: 25%;
}

.navbar .active {
  color: #333;
}

.navbar-links {
  height: 100%;
}

.navbar-links li {
  list-style: none;
  border-radius: 50%;
  /* z-index: -1;
  transition: 0.5s; */
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  /* color: #fafcf0; */
  color: #01669d;
  padding: 2rem;
}

.navbar-links li:hover {
  background-color: #bbd8e8;
  /* filter: blur(0.5px); */
  transform: scale(1.4);
}

/* .navbar ul li:nth-child(7):hover {
  background-color: #e1306c;
} */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #aee0fa;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 30px;
  margin-top: 30px;
}

.wrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%) translateY(20px) scale(1.5);
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .wrapper {
    transform: translate(-50%, -50%) scale(1);
  }
}
.container {
  position: absolute;
  width: 300px;
  height: 300px;
}
[data-typing] {
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  /* color: #aee0fa; */
  color: #bbd8e8;
}
[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
}
[data-typing="software"] {
  top: 3px;
  left: 80px;
  font-size: 27px;
  letter-spacing: 1px;
}
[data-typing="developer"] {
  top: 30px;
  left: 80px;
  font-size: 40px;
  letter-spacing: 1px;
}
[data-typing="with"] {
  top: 74px;
  left: 265px;
  font-size: 36px;
  transform: rotate(90deg);
  background: rgba(245, 245, 245, 0.4);
  color: #333;
  padding: 0px 4px;
}
[data-typing="javascript"] {
  top: 74px;
  left: 229px;
  transform: rotate(90deg);
  font-size: 35px;
}
[data-typing="html"] {
  top: 72px;
  right: 110px;
  font-size: 25px;
}
[data-typing="css"] {
  top: 97px;
  right: 110px;
  font-size: 40px;
}
[data-typing="nodejs"] {
  top: 134px;
  right: 110px;
  font-size: 35px;
}
[data-typing="vuejs"] {
  top: 167px;
  right: 110px;
  font-size: 35px;
}
[data-typing="java"] {
  top: 200px;
  right: 110px;
  font-size: 35px;
}
[data-typing="skills"] {
  top: 238px;
  left: 80px;
  font-size: 36px;
  transform: rotate(360deg);
  background: rgba(245, 245, 245, 0.4);
  color: #333;
  padding: 0px 4px;
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

.card {
  top: 25%;
  left: -120%;
  /* background: rgba(245, 245, 245, 0.4); */
  background: transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
  margin: 5px;
}

.card__img {
  position: relative;
  height: 100%;
}

.card__one .card__img {
  top: 5px;
  left: -4px;
  height: 100%;
}
